/*Обнуление*/
* {
   padding: 0;
   margin: 0;
   border: 0;
}

*,
*:before,
*:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

:focus,
:active {
   outline: none;
}

a:focus,
a:active {
   outline: none;
}

nav,
footer,
header,
aside {
   display: block;
}

html,
body {
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   font-size: 14px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
   font-family: inherit;
}

input::-ms-clear {
   display: none;
}

button {
   cursor: pointer;
}

button::-moz-focus-inner {
   padding: 0;
   border: 0;
}

a,
a:visited {
   text-decoration: none;
}

a:hover {
   text-decoration: none;
}

ul li {
   list-style: none;
}

img {
   vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: 400;
}

/*--------------------*/

body {
   padding: 0;
   margin: 0;
   font-family: 'Anton', sans-serif;
   color: #000;
   font-size: 16px;
}

* {
   //border: green solid 1px;
}

.container {
   width: 1170px;
   margin: 0 auto;
}

.header {
   color: #fff;
   background: url('/img/header-bg.jpg') no-repeat center top / cover;
   text-transform: uppercase;
   text-decoration: none;
   padding-bottom: 322px;
   margin-bottom: 113px;
}

.header__container {
   width: 100%;
   padding: 40px 0 216px 0;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.nav {
   width: 100%;
   position: fixed;
   padding: 20px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   z-index: 4;
}

.logo {
   position: relative;
   z-index: 7;
   margin-right: 69px;
}

.menu__sub-list {
   font-size: 14px;
   position: absolute;
   top: 100%;
   right: 0;
   background-color: #002244;
   padding: 15px;
   min-width: 100px;

   &:last-child {
      padding-bottom: 0;
   }


}

.sub-list__item {
   margin-bottom: 10px;
}

.menu__list>li {
   position: relative;
   margin-left: 20px;

}

.sub-list__item {
   cursor: pointer;

   &:hover {
      text-decoration: underline;
   }
}

.menu__link {
   &:hover {
      text-decoration: underline;
   }
}

.menu__arrow {
   display: none;
}

.phone {
   display: block;
   color: #fff;
   font-size: 17px;
   margin-left: auto;
   line-height: 21px;
   letter-spacing: 0.1em;
}


.offer__descr {
   font-size: 30px;
   line-height: 44px;
   letter-spacing: 0.1em;
}

.offer__title {
   font-size: 100px;
   line-height: 147px;
   margin-bottom: 19px;
   margin-top: -9px;
}

.offer__button {
   display: block;
   font-size: 17px;
   text-align: center;
   letter-spacing: 0.1em;
   padding: 17px 47px;
   border: solid #fff 1px;
   width: 238px;
}

.offer__container {
   padding-bottom: 322px;
}

.about {
   color: #000;
}

.about__title {
   font-size: 50px;
   line-height: 73px;
   text-transform: uppercase;
   margin-bottom: 58px;
}

.about__descr {
   font-family: Open Sans;
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 26px;
   text-align: justify;
   display: flex;
   justify-content: space-between;
   margin-bottom: 67px;
}


.about__subtitle {
   font-family: Anton;
   font-size: 25px;
   line-height: 37px;
   text-transform: uppercase;
   margin-bottom: 25px;
}

.left__text {
   width: 48.5%;
}

.right__text {
   width: 48.5%;
}

.gallery {
   display: flex;
   justify-content: space-between;
}

.footer {
   margin-top: 115px;
}

.footer__text {
   display: flex;
   font-family: Open Sans;
   font-size: 15px;
   line-height: 20px;
   padding-bottom: 80px;

   & p {
      margin-right: 55px;
   }

   &:last-child {
      margin-right: 0;
   }
}

.menu__burger {
   display: none;
}

/*=========================================*/
body._pc .menu__list>li:hover .menu__sub-list {
   opacity: 1;
   visibility: visible;
   transform: translate(0px, 0px);
   pointer-events: all;
}

body._touch .menu__list>li {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

body._touch .menu__link {
   flex: 1 1 auto;
}


body._touch .menu__arrow {
   display: block;
   margin-left: 5px;
   width: 0;
   height: 0;
   transition: transform 0.5s ease 0s;
   border-left: 5px solid transparent;
   border-right: 5px solid transparent;
   border-top: 10px solid #fff;
}


body._touch .menu__list>li._active .menu__sub-list {
   opacity: 1;
   visibility: visible;
   transform: translate(0px, 0px);
   pointer-events: all;
}

body._touch .menu__list>li._active .menu__arrow {
   transform: rotate(180deg);
}

body._lock {
   overflow: hidden;
}

/*=========================================*/

@media (min-width: 767px) {


   .header__container {
      width: 100%;
   }

   .menu__link {
      color: #fff;
      line-height: 21px;
      letter-spacing: 0.1em;
   }

   .menu__item {
      display: block;

   }

   .menu__list {
      display: flex;
      justify-content: space-between;

      &:first-child {
         margin-left: 0px;
      }

      &>li {
         padding: 5px 0;
         margin-left: 40px;
      }

      &:last-child {
         margin-left: 20px;
      }
   }

   .menu__sub-list {
      transform: translate(0, 10px);
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      transition: all 0.3s ease 0s;
   }

   .sub-list__item {

      &>a {
         color: #ddd;

      }
   }



}

@media screen and (max-width: 1200px) {
   .container {
      width: 1140px;
   }

   .header__container {
      width: 100%;
   }

   .gallery {
      & img:nth-child(1) {
         width: 23%;
         height: auto;
      }

      & img:nth-child(2) {
         width: 23%;
         height: auto;
      }

      & img:nth-child(3) {
         width: 48%;
         height: auto;
      }
   }

   .header {
      margin-bottom: 50px;
   }

   .about__descr {
      margin-bottom: 30px;
   }
}

@media screen and (max-width: 1199px) {
   .container {
      width: 960px;
   }

   .header__container {
      width: 100%;
   }
}

@media screen and (max-width: 991px) {
   .container {
      width: 720px;
   }

   .header__container {
      width: 100%;
   }
}

@media screen and (max-width: 767px) {
   .container {
      width: 540px;
   }

   .header__container {
      width: 100%;
   }

   .offer__descr {
      margin-bottom: 20px;
   }

   .offer__title {
      line-height: 100px;
      margin-bottom: 20px;
   }

   .about__title {
      margin-bottom: 20px;
   }

   .about__subtitle {
      line-height: 1em;
      margin-bottom: 10px;
   }

   .about__descr {
      flex-wrap: wrap;
      //flex-direction: column;
      justify-content: center;
   }

   .left__text {
      width: 95%;
      margin-bottom: 40px;
   }

   .right__text {
      width: 95%;
      margin-bottom: 20px;
   }

   .gallery {
      flex-wrap: wrap;

      & img:nth-child(1),
      & img:nth-child(2),
      & img:nth-child(3) {
         width: 100%;
         margin-bottom: 20px;
      }
   }

   .footer__text {
      flex-wrap: wrap;

      & p:nth-child(1) {
         margin-bottom: 10px;
      }
   }

   //BURGERRRRRRRRRRRRRRRRR
   .menu__burger {
      display: block;
      z-index: 5;
      position: relative;
      //right: 25px;
      //top: 20px;
      width: 30px;
      height: 18px;
      cursor: pointer;
      margin-right: 20px;

      &::before,
      &::after {
         content: "";
      }

      & span,
      &::before,
      &::after {
         left: 0;
         position: absolute;
         height: 10%;
         width: 100%;
         background-color: #fff;
         transition: all 0.3s ease 0s;
      }

      &::before {
         top: 0px;
      }

      &::after {
         bottom: 0px;
      }

      & span {
         top: 50%;
         transform: scale(1) translate(0, -50%);
      }

      &._active {
         & span {
            transform: scale(0) translate(0px, -50%);
         }

         &::before {
            top: 50%;
            transform: rotate(-45deg) translate(0px, -50%);
         }

         &::after {
            bottom: 50%;
            transform: rotate(45deg) translate(0px, 50%);
         }
      }
   }

   .menu__body {
      position: fixed;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      background-color: #114488;
      padding: 100px 30px 30px 30px;
      transition: left 0.3s ease 0s;
      overflow: auto;

      &._active {
         left: 0;
      }

      &::before {
         content: "";
         position: fixed;
         left: 0;
         top: 0;
         width: 100%;
         height: 85px;
         background-color: #002277;
         z-index: 2;
      }

   }

   .menu__list>li {
      margin: 0 0 30px 0;
      flex-wrap: wrap;

      &._active .menu__sub-list {
         display: block;
      }

      &:last-child {
         margin: 0;
      }

      &>a {
         font-size: 24px;
         color: #fff;
      }
   }

   .menu__sub-list {
      position: relative;
      flex: 1 1 100%;
      margin: 20px 0 0 0;
      display: none;

      & li {
         &>a {
            color: #ddd;
         }
      }
   }
}




@media screen and (max-width: 575px) {
   .container {
      width: 100%;
      padding: 0 15px;
   }

   .header__container {
      height: 100px;
      margin-bottom: 100px;
   }
}